html {
  font-family: "Roboto", sans-serif;
  color: #333;
}

html body {
  background: white;
}

html .nav-item {
  cursor: pointer;
}

html .alignright {
  float: right;
}

html .alignleft {
  float: left;
}
